.date {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 20%;
  min-width: 45px;
  text-align: center;
}

.info {
  background: green;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  width: 20%;
  font-size: 25px;
  cursor: pointer;
}

.coming {
  background: #155219;
  color: #fff;
}

.finished {
  background: #312d2c;
  color: #fff;
}

.live {
  background: red;
  color: #fff;
}

.postponed {
  background: yellow;
  color: #000;
  font-size: 11px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  width: 10%;
  min-width: 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.team{
  width: 100%;
  min-width: 80px;
}

.team div:first-child{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.team>div>img {
  width: 50%;
  height: auto;
  max-width: 50px;
}